body {
  margin: 0;
  background-color: rgb(246, 250, 176);
  background-image: url("record.png");
  background-repeat: repeat;
}
.header {
  background-color: black;
  color: wheat;
  text-align: center;
}
.main {
  padding: 1em;
  background-color: lightgrey;
  color: black;
}
