body {
  background-color: beige;
  background-image: url("record.png");
  background-repeat: repeat;
}
.header {
  background-color: black;
  color: wheat;
  text-align: center;
}
.main {
  background-color: lightgrey;
  color: black;
}
